

<div>
    <h3>
        Wybrany kolor oczu: @ViewBag.Color
    </h3>
    <p>
        Na świecie @ViewBag.Percent% ludzi posiada taki kolor oczu.
    </p>
    <p style="font-style: italic;">
           @ViewBag.Description
    </p>
    @Html.ActionLink("Zobacz charakterystykę innych kolorów oczu", "OthersEyesColors", "Home")
</div>