

<h2>Ciekawe linki</h2>

<ul>
    <li>
        <a href="https://www.google.pl/" target="_blank">Google</a>
    </li>
    <li>
        <a href="https://www.google.pl/" target="_blank">FB</a>
    </li>
    <li>
        <a href="https://www.google.pl/" target="_blank">IG</a>
    </li>
</ul>